---
import BaseLayout from '~/layouts/base-layout.astro'
---

<BaseLayout site_title='About' site_description='ABOUT_DESC'>
  <section>
    <div>
      <h1>About</h1>
    </div>
  </section>
</BaseLayout>
