---
import BaseLayout from '~/layouts/base-layout.astro'
---
<BaseLayout site_title='Dan Jinzle | Unsubscribe' site_description='Unsubscribe Page for Dan Jinzle'>
<section class='mt-32'>
    <div class="container m-auto max-w-7xl p-8">
      <h1>Subscribe</h1>
    </div>
</section>
</BaseLayout>
